<!DOCTYPE html>
<head>

<style>

body{
    text-align: center;
}

.option{
padding: 10%;
         margin-right: 30px;
border: 2px solid #a1a1a1;
        border-radius: 25px; 
display: inline-block;

}
</style>
<script
src="https://code.jquery.com/jquery-3.2.1.min.js"
integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
crossorigin="anonymous"></script>
</head>


<body>


<h3>Trial Count: <span id="trialCounter"></span></h3>

<div id="left" class='option'>
<p id="leftValue">0</p>
</div>


<div id="left" class='option'>
<p id="rightValue">0</p>
</div>


<script>

//Initialization
var choices=[]
var trial=1;
var trialCap=120;

$("#trialCounter").text(trial);

for (var i=0; i<10;i++){
    choices.push(i%2); 
} 

$("#leftValue").text(6+nonzeros(choices));
$("#rightValue").text(1+nonzeros(choices));

document.onkeydown = checkKey;


// Count non zeros in an array
function nonzeros(arr){
    var count=0;
    for (var i=0; i<arr.length;i++){
        if (arr[i]!=0) count++;
    }
    return count;
}

// Event listeners on left and right arrow keys.
function checkKey(e) {
    e = e || window.event;
    if (e.keyCode == '37' || e.keyCode== '39' && trial < trialCap) { 
        trial++;
        $("#trialCounter").text(trial);
        choices.shift();
        choices.push(e.keyCode=='37'?0:1);
        $("#leftValue").text(6+nonzeros(choices));
        $("#rightValue").text(1+nonzeros(choices));
    }
}
</script>
</body>



